<p>
    Form Status: {{ profileForm.status }}
</p>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <label for="first-name">First Name:</label>
    <input id="first-name" type="text" formControlName="firstName">

    <label for="last-name">Last Name:</label>
    <input id="last-name" type="text" formControlName="lastName">

    <label for="email">Email:</label>
    <input id="email" type="text" formControlName="email">

    <label>Birthday</label>
    <input type="date" formControlName="birthDate">

    <div formGroupName="address">
        <label>Address</label>
        <input formControlName="street">

        <label>City</label>
        <input formControlName="city">

        <label>Country</label>
        <input formControlName="country">
    </div>

    <div formArrayName="aliases">
        <h2>Aliases</h2>
        <button type="button" (click)="addAlias()">
            + Add another alias
        </button>

        <div *ngFor="let alias of aliases.controls; let i=index">
            <label for="alias-{{ i }}">Alias:</label>
            <input id="alias-{{ i }}" type="text" [formControlName]="i">
        </div>
    </div>

    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    <!-- <button type="button" (click)="updateProfile()">Update Profile</button> -->

    <br />
</form>

<!-- <button (click)="changeCity()">Change City</button> -->